body {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 500px;
    width: 400px;
    text-align: center;
    margin: 100px auto;
    background: #ffc710;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.container-title {
    background: #3f87a6;
    padding: 5px;
    text-transform: uppercase;
    font-size: 18px;
}

#billAmount {
    font-size: 14px;
    color: black;
    padding: 2px 2px;
}

#billAmount:focus {
    border: 3px solid navy;
}

#tipAmount {
    padding: 4px 4px;
}

#numOfPeople {
    font-size: 14px;
    color: black;
    padding: 2px 2px;
    margin-left: 45px;
}

#numOfPeople:focus {
    border: 3px solid navy;
}

#calculate-btn {
    background: #3f87a6;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 30px auto;
    border-radius: 10%;
    width: 150px;
    height: 40px;
    font-size: 16px;
}

#calculate-btn:hover {
    background: whitesmoke;
    cursor: pointer;
    transition: 0.3s ease-in;
}

#totalTipAmount {
    font-size: 20px;
    font-weight: bold;
}